.lyric-content {
  text-align: center;
  height: 100%;
  position: relative;
}
.lyric-content>div {
  overflow: hidden;
  height:calc(100% - 120px);
  position: relative;
}
.lyric-content ul {
  transition:all 0.5s;
  color: white;
  transform: translateY(0%);
  margin-top: 350px;
  line-height: 30px;
  overflow: hidden;
}
.lyric-content li {
  cursor: pointer;
  padding: 8px 0;
}
.highlight {
  color: red;
  font-size: 20px;
}
.quan {
  width: 250px;
  height: 250px;
  /* transform: translate(-50%, -50%); */
  animation: rotate infinite 8s linear paused;
  background: url('../../assets/disc.png') no-repeat center/cover;
}
.lyric-content .album-art {
  position:absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 152px;
  height: 152px;
  border-radius: 100%;
  background: url('../../assets/music/少年与海.jpg') no-repeat center/cover;
}
.record {
  position:absolute;
  top:30%;
  right: -125px;
  z-index: 10;
}
.needle {
  width: 276px;
  height: 414px;
  z-index: 11;
  position:absolute;
  top:-200px;
  left: 46%;
  background: url('../../assets/circleNeedle.png') no-repeat center/cover;
  zoom: 0.4;
  transition: all 0.5s;
  transform-origin: 48px 48px;
  transform: rotateZ(-25deg);
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}