* {
  padding: 0;
  margin: 0;
  list-style: none;
}
.bjimg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  object-fit: cover;
}
.filter {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20px);
}
.bg {
  width: 1000px;
  height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
}
.bg .left {
  width: 300px;
  height: calc(100% - 113px);

  border-right: 1px solid #fff;
}
::-webkit-scrollbar {
  display: none;
  }
.bg .right {
  flex: 1;
}